{% extends 'base.html' %}
{% block title %}ثبت‌نام{% endblock %}

{% block content %}

<h3 class="mb-4">ثبت‌نام</h3>
<form method="POST" action="{{ url_for('register') }}">
    {{ csrf_token() }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="mb-3">
        <label for="username" class="form-label">نام کاربری</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">رمز عبور</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">ثبت‌نام</button>
    <a href="{{ url_for('login') }}" class="btn btn-link">قبلاً ثبت‌نام کرده‌اید؟ ورود</a>
</form>

{% endblock %}
